.jqx-widget-pfc
{
  font-family: Verdana;
}
.jqx-widget-content-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #101549;
  background: #CFE3F9;
  font-family: Verdana;
}
.jqx-widget-header-pfc
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #101549;
  background-color: #101549;
  background-image: -moz-linear-gradient(top, #101549, #393E6D);
  background-image: -ms-linear-gradient(top, #101549, #393E6D);
  background-image: -o-linear-gradient(top, #101549, #393E6D);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#101549), to(#393E6D));
  background-image: -webkit-linear-gradient(top, #101549, #393E6D);
  background-image: linear-gradient(top, #101549, #393E6D);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-cell-pfc, .jqx-widget-pfc .jqx-grid-cell-pfc
{
  background-color: #CFE3F9;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-normal-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #AAAAAA;
  background-color: #3285BC;
  background-image: -moz-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -ms-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -o-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3285BC), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: linear-gradient(top, #3285BC, #EFEFEF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #AAAAAA;
  background-color: #3285BC;
  background-image: -moz-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -ms-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -o-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3285BC), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: linear-gradient(top, #3285BC, #EFEFEF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-pfc
{
  border-color: #AAAAAA;
  background-color: #3285BC;
}
.jqx-widget-pfc .jqx-grid-cell-sort-pfc, .jqx-widget-pfc .jqx-grid-cell-filter-pfc, .jqx-widget-pfc .jqx-grid-cell-pinned-pfc, .jqx-grid-cell-sort-pfc, .jqx-grid-cell-filter-pfc, .jqx-grid-cell-pinned-pfc
{
  background-color: #AAAAAA;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-pfc .jqx-grid-cell-alt-pfc, .jqx-widget-pfc .jqx-grid-cell-sort-alt-pfc, .jqx-widget-pfc .jqx-grid-cell-pinned-alt-pfc, .jqx-widget-pfc .jqx-grid-cell-filter-alt-pfc, .jqx-grid-cell-alt-pfc, .jqx-grid-cell-sort-alt-pfc, .jqx-grid-cell-filter-alt-pfc
{
  background-color: #FFFFFF;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-pfc, .jqx-widget-pfc .jqx-grid-cell-hover-pfc
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #3B448E;
  background-color: #242D7A;
  background-image: -moz-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -ms-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -o-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#242D7A), to(#8B90B7));
  background-image: -webkit-linear-gradient(top, #242D7A, #8B90B7);
  background-image: linear-gradient(top, #242D7A, #8B90B7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-pfc, .jqx-widget-pfc .jqx-grid-cell-selected-pfc
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #242D7A;
  background-color: #242D7A;
  background-image: -moz-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -ms-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -o-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#242D7A), to(#8B90B7));
  background-image: -webkit-linear-gradient(top, #242D7A, #8B90B7);
  background-image: linear-gradient(top, #242D7A, #8B90B7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-pfc
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #242D7A;
  background-color: #242D7A;
  background-image: -moz-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -ms-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -o-linear-gradient(top, #242D7A, #8B90B7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#242D7A), to(#8B90B7));
  background-image: -webkit-linear-gradient(top, #242D7A, #8B90B7);
  background-image: linear-gradient(top, #242D7A, #8B90B7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-pfc, .jqx-tabs-selection-tracker-top-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #101549;
  border-bottom: 1px solid #CFE3F9;
  background-image: none ;
  background-color: #CFE3F9;
}
.jqx-tabs-title-selected-bottom-pfc, .jqx-tabs-selection-tracker-bottom-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #101549;
  border-top: 1px solid #CFE3F9;
  background-image: none ;
  background-color: #CFE3F9;
}
.jqx-splitter-splitbar-hover-pfc
{
  background: #242D7A;
}
.jqx-splitter-splitbar-vertical-pfc, .jqx-splitter-splitbar-horizontal-pfc, .jqx-slider-track-horizontal-pfc, .jqx-slider-track-vertical-pfc
{
  background: #3285BC;
}
.jqx-splitter-collapse-button-horizontal-pfc, .jqx-splitter-collapse-button-vertical-pfc, .jqx-slider-rangebar-pfc
{
  background: #242D7A;
}
.jqx-scrollbar-state-normal-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
}
.jqx-grid-bottomright-pfc, .jqx-panel-bottomright-pfc, .jqx-listbox-bottomright-pfc
{
  background-color: #3B448E;
}
.jqx-scrollbar-thumb-state-normal-pfc
{
  background-color: #3285BC;
  background-color: #3285BC;
  background-image: -moz-linear-gradient(left, #3285BC, #EFEFEF);
  background-image: -ms-linear-gradient(left, #3285BC, #EFEFEF);
  background-image: -o-linear-gradient(left, #3285BC, #EFEFEF);
  background-image: -webkit-gradient(linear, left top, right top, from(#3285BC), to(#EFEFEF));
  background-image: -webkit-linear-gradient(left, #3285BC, #EFEFEF);
  background-image: linear-gradient(left, #3285BC, #EFEFEF);
}
.jqx-scrollbar-thumb-state-normal-horizontal-pfc
{
  background-color: #3285BC;
  background-color: #3285BC;
  background-image: -moz-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -ms-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -o-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3285BC), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: linear-gradient(top, #3285BC, #EFEFEF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
  background-image: -moz-linear-gradient(left, #3B448E, #E8E8E8);
  background-image: -ms-linear-gradient(left, #3B448E, #E8E8E8);
  background-image: -o-linear-gradient(left, #3B448E, #E8E8E8);
  background-image: -webkit-gradient(linear, left top, right top, from(#3B448E), to(#E8E8E8));
  background-image: -webkit-linear-gradient(left, #3B448E, #E8E8E8);
  background-image: linear-gradient(left, #3B448E, #E8E8E8);
}
.jqx-scrollbar-thumb-state-hover-horizontal-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
  background-image: -moz-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: -ms-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: -o-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3B448E), to(#E8E8E8));
  background-image: -webkit-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: linear-gradient(top, #3B448E, #E8E8E8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
  background-image: -moz-linear-gradient(left, #3B448E, #D1D1D1);
  background-image: -ms-linear-gradient(left, #3B448E, #D1D1D1);
  background-image: -o-linear-gradient(left, #3B448E, #D1D1D1);
  background-image: -webkit-gradient(linear, left top, right top, from(#3B448E), to(#D1D1D1));
  background-image: -webkit-linear-gradient(left, #3B448E, #D1D1D1);
  background-image: linear-gradient(left, #3B448E, #D1D1D1);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
  background-image: -moz-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: -ms-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: -o-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3B448E), to(#D1D1D1));
  background-image: -webkit-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: linear-gradient(top, #3B448E, #D1D1D1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-pfc
{
  background-color: #3285BC;
  background-image: -moz-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -ms-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -o-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3285BC), to(#EFEFEF));
  background-image: -webkit-linear-gradient(top, #3285BC, #EFEFEF);
  background-image: linear-gradient(top, #3285BC, #EFEFEF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
  background-image: -moz-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: -ms-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: -o-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3B448E), to(#E8E8E8));
  background-image: -webkit-linear-gradient(top, #3B448E, #E8E8E8);
  background-image: linear-gradient(top, #3B448E, #E8E8E8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-pfc
{
  background-color: #3B448E;
  border-color: #3B448E;
  background-image: -moz-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: -ms-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: -o-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3B448E), to(#D1D1D1));
  background-image: -webkit-linear-gradient(top, #3B448E, #D1D1D1);
  background-image: linear-gradient(top, #3B448E, #D1D1D1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-pfc
{
  background: #000000;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-pfc
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-radius-topleft: 5px;
}
.jqx-rc-tr-pfc
{
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  border-radius-topright: 5px;
}
.jqx-rc-bl-pfc
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-radius-bottomleft: 5px;
}
.jqx-rc-br-pfc
{
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
  border-radius-bottomright: 5px;
}
.jqx-rc-t-pfc
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.jqx-rc-b-pfc
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-r-pfc
{
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-l-pfc
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.jqx-radiobutton-default-pfc, .jqx-radiobutton-pfc, .jqx-radiobutton-check-checked-pfc, .jqx-radiobutton-hover-pfc, .jqx-radiobutton-check-indeterminate-pfc, .jqx-radiobutton-check-indeterminate-disabled-pfc, .jqx-slider-button-pfc
{
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.jqx-rc-all-pfc, .jqx-tooltip-pfc, .jqx-tooltip-text-pfc, .jqx-tooltip-main-pfc
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.jqx-grid-column-sortascbutton-pfc, .jqx-expander-arrow-bottom-pfc, .jqx-window-collapse-button-pfc, .jqx-menu-item-arrow-up-pfc, .jqx-menu-item-arrow-top-up-pfc, .jqx-icon-arrow-up-pfc
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-pfc
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-pfc, .jqx-icon-arrow-up-selected-pfc.jqx-expander-arrow-expanded-pfc
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-pfc, .jqx-grid-column-sortdescbutton-pfc, .jqx-expander-arrow-top-pfc, .jqx-window-collapse-button-collapsed-pfc, .jqx-menu-item-arrow-down-pfc, .jqx-menu-item-arrow-down-pfc, .jqx-tree-item-arrow-expand-pfc, .jqx-icon-arrow-down-pfc
{
  background-image: url('images/icon-down-white.png');
}
.jqx-icon-arrow-down-hover-pfc, .jqx-tree-item-arrow-expand-hover-pfc
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-pfc, .jqx-icon-arrow-down-selected-pfc
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-pfc, .jqx-menu-item-arrow-top-left-pfc, .jqx-icon-arrow-left-pfc, .jqx-icon-arrow-down-left-pfc
{
  background-image: url('images/icon-left-white.png');
}
.jqx-icon-arrow-left-hover-pfc
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-pfc
{
  background: #101549;
}
.jqx-menu-item-arrow-left-selected-pfc, .jqx-icon-arrow-left-selected-pfc
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-pfc, .jqx-menu-item-arrow-top-right-pfc, .jqx-menu-item-arrow-collapse-pfc, .jqx-icon-arrow-right-pfc
{
  background-image: url('images/icon-right-white.png');
}
.jqx-icon-arrow-right-hover-pfc, .jqx-tree-item-arrow-collapse-hover-pfc
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-pfc, .jqx-icon-arrow-right-selected-pfc
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-pfc, .jqx-tabs-close-button-pfc, .icon-close-pfc
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-pfc
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-pfc
{
  background-image: url('images/close_white.png');
}
.jqx-widget-pfc .jqx-grid-column-header-pfc, .jqx-widget-pfc .jqx-grid-cell-pfc, .jqx-widget-pfc .jqx-grid-group-cell-pfc, .jqx-grid-cell-pfc
{
  border-color: #101549;
}
.jqx-checkbox-check-checked-pfc
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-pfc
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-pfc, .jqx-tooltip-main-pfc
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #101549;
  background-color: #101549;
  background-image: -moz-linear-gradient(top, #101549, #8B90B7);
  background-image: -ms-linear-gradient(top, #101549, #8B90B7);
  background-image: -o-linear-gradient(top, #101549, #8B90B7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#101549), to(#8B90B7));
  background-image: -webkit-linear-gradient(top, #101549, #8B90B7);
  background-image: linear-gradient(top, #101549, #8B90B7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-pfc, .jqx-input-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #101549;
  background-color: #FFFFFF;
}
.jqx-combobox-input-pfc
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-pfc
{
  color: #000000;
  text-shadow: none;
  background-color: #FFFFFF;
}
.jqx-fill-state-focus-pfc, .jqx-popup-pfc .jqx-fill-state-focus-pfc
{
  border-color: #111111;
}
.jqx-popup-pfc.jqx-listbox-pfc, .jqx-popup-pfc.jqx-calendar-pfc,.jqx-menu-dropdown-pfc,  .jqx-popup-pfc.jqx-dropdownbutton-popup-pfc
{
  color: #000000;
  text-shadow: none;
  border-color: #101549;
  background-color: #FFFFFF;
}
.jqx-scrollbar-pfc .jqx-icon-arrow-up-pfc
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-left-pfc
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-right-pfc
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-bottom-pfc
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-up-hover-pfc
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-left-hover-pfc
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-right-hover-pfc
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-bottom-hover-pfc
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-up-selected-pfc
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-left-selected-pfc
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-right-selected-pfc
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-pfc .jqx-icon-arrow-bottom-selected-pfc
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-calendar-pfc .jqx-icon-arrow-up-pfc, .jqx-tabs-header-pfc .jqx-icon-arrow-up-pfc
{
}
.jqx-calendar-pfc .jqx-icon-arrow-left-pfc, .jqx-tabs-header-pfc .jqx-icon-arrow-left-pfc
{
}
.jqx-calendar-pfc .jqx-icon-arrow-right-pfc, .jqx-tabs-header-pfc .jqx-icon-arrow-right-pfc
{
}
.jqx-calendar-pfc .jqx-icon-arrow-bottom-pfc, .jqx-tabs-header-pfc .jqx-icon-arrow-bottom-pfc
{
}
.jqx-widget-pfc .jqx-grid-cell-pfc, .jqx-listitem-state-normal-pfc, .jqx-menu-item-normal-pfc, .jqx-tree-item-normal-pfc, .jqx-calendar-cell-pfc, .jqx-grid-cell-pfc,.jqx-menu-vertical-pfc .jqx-menu-item-top-normal-pfc, .jqx-input-popup-pfc .jqx-fill-state-normal-pfc
{
  font-family: Verdana;
}
.jqx-widget-pfc .jqx-grid-cell-hover-pfc, .jqx-listitem-state-hover-pfc, .jqx-menu-item-hover-pfc, .jqx-tree-item-hover-pfc, .jqx-calendar-cell-hover-pfc, .jqx-grid-cell-hover-pfc,.jqx-menu-vertical-pfc .jqx-menu-item-top-hover-pfc, .jqx-input-popup-pfc .jqx-fill-state-hover-pfc,.jqx-input-button-header-pfc, .jqx-input-popup-pfc .jqx-fill-state-pressed-pfc,.jqx-input-button-header-pfc
{
  font-family: Verdana;
}
.jqx-widget-pfc  .jqx-grid-cell-selected-pfc, .jqx-listitem-state-selected-pfc, .jqx-menu-item-selected-pfc, .jqx-tree-item-selected-pfc, .jqx-calendar-cell-selected-pfc, .jqx-grid-cell-selected-pfc,.jqx-menu-vertical-pfc .jqx-menu-item-top-selected-pfc, .jqx-grid-selectionarea-pfc
{
  font-family: Verdana;
}
