<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FiltroLogin</filter-name>
        <filter-class>br.com.sistema.filtro.FiltroLogin</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroSupervisor</filter-name>
        <filter-class>br.com.sistema.filtro.FiltroSupervisor</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroGerente</filter-name>
        <filter-class>br.com.sistema.filtro.FiltroGerente</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroOperador</filter-name>
        <filter-class>br.com.sistema.filtro.FiltroOperador</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroLogin</filter-name>
        <url-pattern>/sistema/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroOperador</filter-name>
        <url-pattern>/sistema/operador/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSupervisor</filter-name>
        <url-pattern>/sistema/supervisor/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroGerente</filter-name>
        <url-pattern>/sistema/gerente/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Kaptcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kaptcha</servlet-name>
        <url-pattern>/Kaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>br.com.sistema.controle.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/mvc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
